body {
  background-color: aqua;
  margin: 0;
  padding: 0;
}

.main-content {
  grid-area: content;
  position: relative;
  height: 70vh;
  background-color: blueviolet;
}

.main-box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

.main-header {
  grid-area: header;
  background-color: lightcoral;
}

.main-footer {
  grid-area: footer;
  background-color: white;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.main-wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header"
    "content"
    "footer";
  background-color: white;
  color: #444;
}

.airline-grid-list {
  height: 50vh;
  position: relative;
}

.child {
  margin: 0;
  padding: 0;
  background-color: red;
  position: absolute;
  left: 5vw;
}

.airline-filters {
  height: 3vh;
  margin-bottom: 50px;
}

.airline-paginator {
  margin-top: 50px;
  background-color: pink;
}

.wrapper {
  height: 65vh;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 16px;
  background-color: white;
  color: #444;
}

@media only screen and (min-width: 320px) {
  .wrapper {
    grid-gap: 16px;
    grid-template-columns: 300px;
    // max-width: 600px;
  }
}

@media only screen and (min-width: 765px) {
  .wrapper {
    grid-gap: 16px;
    grid-template-columns: 300px 300px;
    // max-width: 600px;
  }
}

@media only screen and (min-width: 959px) {
  .wrapper {
    grid-gap: 16px;
    grid-template-columns: 300px 300px 300px 300px;
    // max-width: 600px;
  }
}

.box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
  border: solid 1px #363f45;
  width: 300px;
  height: 240px;
}

.alliance-name {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
}

.alliance-checkbox {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}

.alliance-phone {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #192024;
}

.alliance-site {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #5a6872;
}

.container {
  width: 300px;
  height: 240px;
  margin: 0;
  padding: 0;
  position: relative;
}

.airplane-child {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
