<!-- <div class="main-wrapper">
  <div class="main-header">
    <div class="header-container">
      <div class="header-child">
        <img class="header-logo" src="./../assets/images/Logo.svg" alt="">
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="title">Airlines</div>
    <div class="subtitle">Filter by Alliances</div>
    <div class="airline-filters">
      <mat-checkbox class="filter-checkbox" [(ngModel)]="isOneworld" (change)="setFilter($event.checked)">Oneworld
      </mat-checkbox>
      <mat-checkbox class="filter-checkbox" [(ngModel)]="isSkyTeam" (change)="setFilter($event.checked)">Sky Team
      </mat-checkbox>
      <mat-checkbox class="filter-checkbox" [(ngModel)]="isStarAlliance" (change)="setFilter($event.checked)"> Star
        Alliance
      </mat-checkbox>
    </div>

    <div class="airline-grid-list">
      <div class="child">
        <div class="loading-wrapper" *ngIf="isLoading">
          <div class="loading-box a"><mat-spinner></mat-spinner></div>
          <div class="loading-box b">Loading...</div>
        </div>
        <div class="wrapper">
          <div *ngFor="let airline of airlinesPage" class="box">
            <div class="container">
              <div></div>
              <div class="airline-child-image">
                <img class="airline-img" src="{{'https://content.r9cdn.net' + airline.logoURL}}" alt="">
              </div>
              <div class="airline-child-text">
                <div class="alliance-name">{{airline.name}}</div>
                <div class="alliance-checkbox" *ngIf="airline.alliance === ONEWORLD_VALUE">Oneworld</div>
                <div class="alliance-checkbox" *ngIf="airline.alliance === SKY_TEAM_VALUE">Sky Team</div>
                <div class="alliance-checkbox" *ngIf="airline.alliance === STAR_ALLIANCE_VALUE">Star Alliance</div>
                <div class="alliance-phone">{{airline.phone}}</div>
                <div class="alliance-site">{{airline.site | domain}}</div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="main-footer">
    <div class="airline-paginator">
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
        (page)="handlePageEvent($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div> -->
<app-airlines></app-airlines>
