<div class="main-wrapper">
  <div class="main-header">
    <div class="header-container">
      <div class="header-child">
        <img class="header-logo" src="./../assets/images/Logo.svg" alt="">
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="title">Airlines</div>
    <div class="subtitle">Filter by Alliances</div>
    <div class="airline-filters">
      <mat-checkbox class="filter-checkbox" [(ngModel)]="isOneworld" (change)="setFilter($event.checked)">Oneworld
      </mat-checkbox>
      <mat-checkbox class="filter-checkbox" [(ngModel)]="isSkyTeam" (change)="setFilter($event.checked)">Sky Team
      </mat-checkbox>
      <mat-checkbox class="filter-checkbox" [(ngModel)]="isStarAlliance" (change)="setFilter($event.checked)"> Star
        Alliance
      </mat-checkbox>
    </div>

    <div class="airline-grid-list">
      <div class="child">
        <div class="wrapper">
          <div *ngFor="let airline of airlinesPage" class="box">
            <div class="container">
              <div></div>
              <div class="airline-child-image">
                <img class="airline-img" src="{{'https://content.r9cdn.net' + airline.logoURL}}" alt="">
              </div>
              <div class="airline-child-text">
                <div class="alliance-name">{{airline.name}}</div>
                <div class="alliance-checkbox" *ngIf="airline.alliance === ONEWORLD_VALUE">Oneworld</div>
                <div class="alliance-checkbox" *ngIf="airline.alliance === SKY_TEAM_VALUE">Sky Team</div>
                <div class="alliance-checkbox" *ngIf="airline.alliance === STAR_ALLIANCE_VALUE">Star Alliance</div>
                <div class="alliance-phone">{{airline.phone}}</div>
                <div class="alliance-site">{{airline.site | domain}}</div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="main-footer">
    <div class="airline-paginator">
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
        (page)="handlePageEvent($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>

<!--
<app-header></app-header>
<div class="airline-grid-list">
  <div class="airline-filters">
    <mat-checkbox class="example-margin" [(ngModel)]="isOneworld" (change)="setFilter($event.checked)">Oneworld
    </mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="isSkyTeam" (change)="setFilter($event.checked)">Sky Team
    </mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="isStarAlliance" (change)="setFilter($event.checked)">Star Alliance
    </mat-checkbox>
  </div>

  <div class="wrapper">
    <div *ngFor="let airline of airlinesPage" class="box">
      <div>
        <div>{{airline.name}}</div>
        <div *ngIf="airline.alliance === ONEWORLD_VALUE">Oneworld</div>
        <div *ngIf="airline.alliance === SKY_TEAM_VALUE">Sky Team</div>
        <div *ngIf="airline.alliance === STAR_ALLIANCE_VALUE">Star Alliance</div>
        <div>{{airline.phone}}</div>
        <div>{{airline.site | domain}}</div>
      </div>
    </div>
  </div>

  <div class="airline-paginator">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
      (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
  </div> -->

<!-- <mat-grid-list [cols]="cols$ | async"> -->
<!-- <app-airline-grid-tile *ngFor="let item of airlinesPage" [airline]="item">{{item.code}}</app-airline-grid-tile> -->
<!-- <mat-grid-tile *ngFor="let airline of airlinesPage" class="airline-card">
      <div>
        <div>{{airline.name}}</div>
        <div *ngIf="airline.alliance === ONEWORLD_VALUE">Oneworld</div>
        <div *ngIf="airline.alliance === SKY_TEAM_VALUE">Sky Team</div>
        <div *ngIf="airline.alliance === STAR_ALLIANCE_VALUE">Star Alliance</div>
        <div>{{airline.phone}}</div>
        <div>{{airline.site | domain}}</div>
      </div> -->

<!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{airline.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="airline.alliance === ONEWORLD_VALUE">Oneworld</mat-card-subtitle>
          <mat-card-subtitle *ngIf="airline.alliance === SKY_TEAM_VALUE">Sky Team</mat-card-subtitle>
          <mat-card-subtitle *ngIf="airline.alliance === STAR_ALLIANCE_VALUE">Star Alliance</mat-card-subtitle>
          <mat-card-subtitle>{{airline.phone}}</mat-card-subtitle>
          <mat-card-subtitle>{{airline.site | domain}}</mat-card-subtitle>
        </mat-card-header> -->
<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
<!-- </mat-card> -->

<!-- </mat-grid-tile>
  </mat-grid-list> -->

<!-- <router-outlet></router-outlet> -->




<!--
</div>
<app-footer></app-footer> -->
