.main-content {
  grid-area: content;
  position: relative;
  height: 70vh;
  // height: 70%;
}

.main-header {
  grid-area: header;
  // height: 1vh;
  // height: 10px;
}

.main-footer {
  grid-area: footer;
  // height: 1vh;
}

.main-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header"
    "content"
    "footer";
  background-color: #fff;
  color: #444;
}

.main-box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  // font-size: 150%;
}

.main-header,
.main-footer {
  background-color: #999;
}

// mat-grid-tile {
//   background: lightblue;
//   // max-width: 300px;
//   // max-height: 240px;
//   // width: 300px;
//   // height: 240px;
//   min-width: 300px;
//   min-height: 240px;
//   margin-left: 16px;
//   margin-bottom: 16px;
// }

// .example-margin {
//   margin: 0 10px;
// }

// .example-card {
//   // max-width: 100%;
//   // max-height: 240px;
//   // min-width: 100%;
//   // min-height: 100%;
// }

// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }

// .airline-card {
//   width: 100px;
//   height: 100px;
//   margin: 0;
//   border: 0;
// }

.airline-grid-list {
  height: 50vh;
}

.airline-filters {
  height: 2vh;
}

.airline-paginator {
  height: 1vh;
}

.wrapper {
  height: 40vh;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 16px;
  background-color: #fff;
  color: #444;
  // margin: 15px;
}

@media only screen and (min-width: 320px) {
  .wrapper {
    grid-gap: 16px;
    grid-template-columns: 300px;
    // max-width: 600px;
  }
}

@media only screen and (min-width: 765px) {
  .wrapper {
    grid-gap: 16px;
    grid-template-columns: 300px 300px;
    // max-width: 600px;
  }
}

@media only screen and (min-width: 959px) {
  .wrapper {
    grid-gap: 16px;
    grid-template-columns: 300px 300px 300px 300px;
    // max-width: 600px;
  }
}

.box {
  background-color: red;
  color: #fff;
  border-radius: 15px;
  // padding: 20px;
  // font-size: 150%;
  width: 300px;
  height: 240px;
  // margin-right: 20px;
  // padding-right: 0px;
}
